.DS_Store
npm-debug.log

node_modules
.vscode-test

test/**/data-dir/**
!test/**/data-dir/User
test/**/data-dir/User/**
!test/**/data-dir/User/settings.json

dist
server/dist
docs/.vuepress/dist

*.zip
*.vsix

.nyc_output
coverage.lcov

**/*.tsbuildinfo
