.github/
.vscode/
.vscode-test/
build/
docs/
client/
**/test/
server/src/
server/typings
vti
dist-test/
server/dist-test/

server/node_modules/typescript/lib/tsc.js
server/node_modules/typescript/lib/tsserver.js
server/node_modules/typescript/lib/tsserverlibrary.js
server/node_modules/typescript/lib/typescriptServices.js

.**

**/*.map
**/tsconfig.json
**/tsconfig.**.json
**/tslint.json
**/yarn.lock

.vsix
scripts

node_modules/.cache/
