.github/
.vscode/
.vscode-test/
build/
docs/
client/
**/test/
server/src/
server/dist/types/
vti
dist-test/
server/dist-test/

.**

**/tsconfig.json
**/tsconfig.**.json
**/tslint.json
**/yarn.lock
*.map

.vsix
scripts

node_modules/.cache/
